body
{
background-image: url("og-default-1 (1).jpg");
}
a{
   align-items: right;
    color: white;
    text-decoration: none;
    margin: 30px;
    transition: none;
    background-origin: padding-box;
    border: 0ch;

}
h1{
    color: white;
    text-align: center;
}
a:hover{
    background-color: white;
    color: purple;
    padding: 10px;
    border: 2px solidblack;
}